.faq .fa-search-plus {
  font-size: 5em;
  color: #3679dc;
}
.faq h1 {
  font-size: 4em;
  font-weight: 400;
}
.faq-data {
  /* width: 70%; */
}
.accordion-button {
  background-color: #2f8bca;
  color: white;
  padding: 12px;
  margin-top: 8px;
}
.accordion-button span {
  width: 90%;
  display: flex;
  text-align: start;
}
.accordion-body{
    text-align: start;
  }
.accordion-button::after {
  background-image: url("/images/plus.png");
}

.accordion-button:not(.collapsed) {
  background-color: #2f8bca;
  color: white;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("/images/minus.png");
}
.fa-calendar-minus-o {
  color: #2f8bca;
  margin-left: 4px;
  font-size: 1.2em;
}

@media (max-width: 768px) {
  .accordion-button span {
    width: 95%;
  }
  .accordion-body{
    padding: 4px;
    margin-top: 4px;
  }
}
